/*The main app styling. I've set a background image and because I don't want it repeating
itself, I set background-repeat to take care of that.*/
.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: #FBF7FB;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-position: center center;
  background-repeat: no-repeat; background-size: cover;
  background-image: url('https://cdn.britannica.com/11/202411-050-BF7B0DF0/Ornamental-Echeveria-succulents-in-cultivation.jpg');
}

/*****************************************************************/
/*Below is all of the navbar styling, as per the assignment directions
it is at the top of the page. I really struggled with moving the logo
to the left and keeping all of the rest of the navbar <li> to the right but I
ended up using the float property to get it sorted out. I've also added
pseudo class to each of the <li> so that on hover the text gets lighter
and on a click the background color changes slightly.*/

.navBar {
  background-color: rgba(181,195,209,0.90);
  font-size: 20px;
  padding: 5px;
  border: 4px #706450;
  border-style: none none groove none;
}

.logo {
  padding: 0;
  width: 100px;
  height: 80px;
}

nav ul {
  margin: 2px;
}

nav ul li {
  float: right;
  list-style-type: none;
  margin-top: 2.5rem;
  margin-right: 1em;  /*em is in relation to the root of the file*/
  color: #114B1E;
}

nav ul li:hover {
  color: #DAE4DD;
}

nav ul li:active {
  background-color: #7EAFB5;
  padding: 3px;
  border-radius: 5px;
}

/*****************************************************************/
/*Below is the styling for the login/register forms. As is requested
for the assignment I have put the forms in the center of the page and
have added a border. I also played with color transparency with the
main form div as well as with the input fields. I added some box and 
text shadowing for dimension and played with the ::hover and ::active 
pseudo classes.*/

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
  padding: 5rem;
}
.auth-form-container {
  box-shadow: 2px 2px #706450;
}

.login-header {
  font-size: xx-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 1.5px 1px #9C738E;
}

.login-form {
 padding: 20px;
}

.auth-form-container {
  padding: 1rem;
  border: 5px outset #D1ADB9;
  border-radius: 10px;
  margin: 0.5rem;
  background-color:rgba(182,140,157,0.90);
  color: #492431;
  text-shadow: 1px 1px #9C738E;
}

.register-form {
  padding: 2rem;
}

label {
  text-align: left;
  padding: 0.25rem 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
}

input {
  background-color: rgba(205,210,219,0.85);
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  border: 3px solid #9C738E;
}

.submit-button {
  background-color: #CDD2DB;
  border: 3px solid #9C738E;
}

button {
  border: none;
  background-color: #DFE2DE;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: purple;
  font-weight: bold;
}

button:hover {
  color: #A76B95;
}

.submit-button:active {
  background-color: #D1ADB9;
}

.link-btn {
  background: none;
  color: #492431;
  text-decoration: underline;
}

.link-btn:hover {
  color: #CDD2DB;
}


